apiVersion: apps/v1
kind: Deployment
metadata:
  name: trips
spec:
  selector:
    matchLabels:
      run: trips
  replicas: 1
  template:
    metadata:
      labels:
        run: trips
    spec:
      containers:
      - name: trips
        image: registryrdz2161.azurecr.io/trips:1.0
        ports:
        - containerPort: 80
        env:
        - name: SQL_USER
          value: sqladminrDz2161
        - name: SQL_PASSWORD
          value: iK8rk1Vg2
        - name: SQL_SERVER
          value: sqlserverrdz2161.database.windows.net
        - name: SQL_DBNAME
          value: mydrivingDB
        - name: OPENAPI_DOCS_URI
          value: http://changeme